
{% block footer %}
    <footer>
        <div class="socials">
            <a href="#" class="social">
                <img src="./assets/img/facebook.png" alt="">
            </a>
            <a href="#" class="social">
                <img src="./assets/img/LinkedIn.png" alt="">
            </a>
            <a href="#" class="social">
                <img src="./assets/img/insta.png" alt="">
            </a>
        </div>
        <div class="rgpd">
            <a href="#">Mentions légales</a>
            <a href="#">Politique de confidentialité</a>
            <a href="#">CGV</a>
        </div>
        <div class="contact">
            <div class="contact-item">
                <img src="" alt="">
                <p>1 bld de Formation, 75000 Paris</p>
            </div>
            <div class="contact-item">
                <img src="" alt="">
                <p>0612345678</p>
            </div>
            <div class="contact-item">
                <img src="" alt="">
                <p>mymail@forma.com</p>
            </div>
        </div>
        <p>Designed by Gabistam
            <span>©</span> 
            <span>2023</span>
        </p>

    </footer>
{% endblock %}