<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="index.html"><img src="/assets/img/logo.png" width="50" alt="logo gs" srcset="">  <span>Planet Food</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">menus</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link resa" href="./resa.html">Réservation</a>
        </div>
        </div>
    </div>
</nav>
<header>
    <section id="header">
        <div class="hero">
            <h1>Faites voyager vos papilles</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ea inventore aut dolore culpa temporibus.

        </h3>
        <a href="#" >Faire un réservation</a>
        </div>
    </section>
</header>