{% extends 'layouts/base.twig' %}

{% block title %}Page d'accueil{% endblock %}


{% block content %}
  
    <section id="menus" >

            <div class="menu">
                <div class="img-menu">
                    <img src="" alt="" srcset="">
                </div>
                <h2 class="col">Menu Asia</h2>
                <div class="list-menu">
                    <div class="menu-item">
                        <img src="./assets/img/plat asiat1.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat asiat2.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                    <div class="menu-item">
                        <img src="./assets/img/plat asiat3.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat asiat4.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="img-menu">
                    <img src="" alt="" srcset="">
                </div>
                <h2>Menu Afro</h2>
                <div class="list-menu">
                    <div class="menu-item">
                        <img src="./assets/img/plat-afro1.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-afro2.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                    <div class="menu-item">
                        <img src="./assets/img/plat-afro3.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-afro4.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
            <div class="menu">
                <div class="img-menu">
                    <img src="" alt="" srcset="">
                </div>
                <h2>Menu India</h2>
                <div class="list-menu">
                    <div class="menu-item">
                        <img src="./assets/img/plat-indien1.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-indien2.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                    <div class="menu-item">
                        <img src="./assets/img/plat-indien3.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-indien4.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
            <div class="menu">
                <div class="img-menu">
                    <img src="" alt="" srcset="">
                </div>
                <h2>Menu Europa</h2>
                <div class="list-menu">
                    <div class="menu-item">
                        <img src="./assets/img/plat-euro.jpg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-euro1.jpg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                    <div class="menu-item">
                        <img src="./assets/img/plat-euro2.jpg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-euro3.jpg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
            <div class="menu">
                <div class="img-menu">
                    <img src="" alt="" srcset="">
                </div>
                <h2>Menu South-America</h2>
                <div class="list-menu">
                    <div class="menu-item">
                        <img src="./assets/img/plat-mex1.jpeg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-mex2.jpeg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                    <div class="menu-item">
                        <img src="./assets/img/plat-cuba.jpg" alt=""></img>
                        <div class="desc">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>

                        </div>
                    </div>
                    <div class="menu-item block-inverse">
                        <img src="./assets/img/plat-brazil.jpg" alt=""></img>
                        <div class="desc ">
                            <h3>Lorem ipsum dolor  ?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. eius doloribus, adipisci.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem ipsum dolor sit ametexercitationem impedit, qui eius doloribus, adipisci.</p>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
            
        </section>

{% endblock %}
